bin/
build/

# gradle & android specific files
.gradle/
*.iml
.idea
local.properties

/Demo/src/main/assets/conf
/Demo/src/main/assets/resources
/GetStarted/src/main/assets/conf
/GetStarted/src/main/assets/resources

.DS_Store
